/**
 * Top Bar Social
 */
#top-bar-social {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: block;
      float: left;
      font-size: 14px;
      color: $color-13;
    }

    &.kindling-twitter a:hover { color: #46d4fe; }
    &.kindling-facebook a:hover { color: #37589b; }
    &.kindling-googleplus a:hover { color: #de5a49; }
    &.kindling-pinterest a:hover { color: #cb2027; }
    &.kindling-dribbble a:hover { color: #ea4c89; }
    &.kindling-vk a:hover { color: #597BA5; }
    &.kindling-instagram a:hover { color: #3F729B; }
    &.kindling-linkedin a:hover { color: #3399CC; }
    &.kindling-tumblr a:hover { color: #2C4762; }
    &.kindling-github a:hover { color: #60b044; }
    &.kindling-flickr a:hover { color: #fa4086; }
    &.kindling-skype a:hover { color: #00AFF0; }
    &.kindling-youtube a:hover { color: #C4302B; }
    &.kindling-vimeo a:hover { color: #1ab7ea; }
    &.kindling-vine a:hover { color: #00bf8f; }
    &.kindling-xing a:hover { color: #006464; }
    &.kindling-yelp a:hover { color: #C41200; }
    &.kindling-tripadvisor a:hover { color: #589442; }
    &.kindling-rss a:hover { color: #ff7900; }
    &.kindling-email a:hover { color: #13aff0; }
  }
}

/**
 * Top Bar Social Right
 */
#top-bar-social.top-bar-right {
  position: absolute;
  right: 0;
  top: 50%;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
}

/**
 * Top Bar Social Left
 */
#top-bar-social.top-bar-left {
  position: absolute;
  left: 0;
  top: 50%;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
}

/**
 * Top Bar Social Centered
 */
#top-bar-social.top-bar-centered {
  padding-top: 15px;

  li {
    display: inline-block;
    float: none;
  }
}